.login{
    background-color: #BBEBFF;
    height: 100vh;
    width: 100%;
    display: flex;
}

.loginLeft{

    background-color: teal;
    width: 70%;
    height: inherit;

}

.loginRight{
    height: inherit;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginRight > form{
    display: flex;
    flex-direction: column;

    width: 70%;
}

.loginFormGroup{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.loginFormGroup > input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;

    text-transform:lowercase;
}

.loginFormGroup > div.button{
    width: inherit;
    background-color: teal;

    height: 35px;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

