.home{
    height: 150vh;
    background-color: #BBEBFF;
    padding: 0 60px;
}

.homeHeadings{
    width: 100%;
    padding-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #003E58;
}

.homeHead{
    font-weight: bold;
    font-size: 65px;
    letter-spacing: 5px;
}

.homeTagDown{
    margin-top: 20px;
}

.homeSearchCont{
    display: flex;
    justify-content: center;
    align-items: centers;
    margin-top: 50px;
}

.homeSelectorCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSelector{
    display: flex;
    flex-direction: column;

    width: 60%;
    color: #003E58;

    margin-top: 50px;
}

.homeSelectors{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.homeVideoCont{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -250px;
    padding: 0 150px;
}

.homeVideo{
    width: 100%;
    height: 100%;
    background-color: #003E58;
    
    border-radius: 20px;
    border: 10px solid white;
    box-shadow: 0 0 50px -25px #003E58;
}

.pp{
    height: 100vh;
}